* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    font-size: 1.2rem;
    font-family: serif;
    color: rgb(11, 11, 11);
    font-weight: 400;
    line-height: 1.4;
    background: linear-gradient( rgba(242, 170, 88, 0.7), rgba(235, 170, 95, 0.7)), url(../img/pic2.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#heading {
	font-family: monospace;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: -2.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
}

#addAlert {
    position: absolute;
    top: 11rem;
    margin: 2rem 8.5rem;
    border: 2px solid green;
    padding: 0.1rem;
    text-align: center;
    font-style: italic;
    font-size: 1.02rem; 
}

#container {
    position: absolute;
    width: 85%;
    height: auto;
    left: 5.5rem;
    margin: 20.1rem auto 0px;
    border: 1px solid black;
    padding: 20%;
    font-size: 1.2rem;
    background-color: bisque;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.list-group {
    margin: 0px auto;
    list-style: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.list-group li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -35px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    text-transform: capitalize;
}

input,
button {
    margin: 0px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.4;
}

.btn-danger {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    padding: 0px 5px;
    margin: 5px;
    height: 1.9rem;
    float: right;
    background: rgb(191, 8, 8);
}

#submit {
    width: 5rem;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 4.5px 10px;
    margin: 10px 11rem;
    height: 2.3rem;
    transition: visibility 0s, opacity 0.5s linear;
    background: rgba(203, 150, 80, 0.82);
    transition: all 0.5s;
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(121, 109, 96, 0.95);
    color: rgb(240, 248, 255);
}

.btn-danger:hover {
    cursor: pointer;
    background-color: rgb(124, 2, 2);
}

/*
@media screen and (max-width: 1250px) {
    #container{
        height: 100%;
    }
    #addAlert{
        top: 55px;
        margin: 5.5rem 19rem;
    }
    #submit {
        width: 12%;
    }
    #newItems {
        width: 87%;
    }
}
*/

/*@media screen and (min-width: 1024px) {
    #container {
      position: absolute;
        width: 75%;
        height: 80%;
        left: 3.5rem;
        margin: 1.5rem;
        padding-top: 10rem;
    }
    #addAlert {
    position: absolute;
    top: 18rem;
    margin: 5rem 20.65rem;
        width: 30%;
    }
    #container{
        height: 100%;
    }
    #addAlert{
        top: 55px;
        margin: 5.5rem 19rem;
    }
    #submit {
        width: 12%;
    }
    #newItems {
        width: 87%;
    }
}*/

/*@media screen and (max-width: 1050px) {
    #submit {
        width: 12%;
    }
    #newItems {
        width: 86%;
    }
}*/

/*
@media screen and (max-width: 950px) {
    #submit {
        width: 15%;
    }
    #newItems {
        width: 83%;
    }
}

@media screen and (max-width: 750px) {
    #newItems {
        width: 100%;
    }
    #submit {
        margin-left: 35%;
        margin-right: 35%;
        width: 30%;
    }
    .btn-danger {
        height: 1.5rem;
    }
    .list-group {
        height: 100%;
        width: inherit;
    }
}

@media screen and (max-width: 425px) {
    #container {
    position: absolute;
    width: 85%;
    height: 70%;
    left: 7rem;
    margin: 2.1rem auto 0px;
    }
    #addAlert {
    position: absolute;
    top: 0;
    margin: 0 20.65rem;
    }
    #newItems {
        width: 100%;
    }
    #submit {
        margin-left: 35%;
        margin-right: 35%;
        width: 30%;
    }
    .btn-danger {
        height: 1.5rem;
    }
    .list-group {
        height: 100%;
        width: inherit;
    }
}
*/

.form-group {
    margin: 0px auto 1.25rem;
    padding: 0.25rem;
}

.form-control {
    width: 100%;
    height: 2.3rem;
    border: 1px solid rgb(228, 228, 228);
    padding: 0.37rem 0.75rem;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 1px solid black;
}

::placeholder{
    color: #33536d;
}

@media screen and (min-width: 1024px) {
    #container {
        width: 90%;
        margin: 8.5rem 1.5rem;
        padding-top: 10rem;
    }
    #addAlert {
    top: 6.5rem;
    margin: 5rem 20%;
        width: 20%;
    }
    #submit {
        width: 20%;
        padding: 4.5px 10px;
        margin: 10px 40%;
    }
    #newItems {
        width: 100%;
    }
    
}
